@use "../../styles/partials/mixins" as *;

.details {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  transition: all 0.3s;
}

@include tablet {
  .details {
    padding-right: 3rem;
    padding-left: 3rem;
    transition: all 0.3s;
  }
}

@include desktop {
  .details {
    padding-left: 7rem;
    padding-top: 3rem;
    width: 65%;
    margin: 0;
    padding-right: 0;
  }
}
