@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-videos {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  &__title {
    text-transform: uppercase;
    color: $BrainFlix-Silver;
    font-weight: 400;
  }
}

@include tablet {
  .next-videos {
    padding-right: 3rem;
    padding-left: 3rem;
    width: 60%;
  }
}

@include desktop {
  .next-videos {
    padding-right: 5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    width: 35%;
    margin: 0;

    border-left: 1px solid $BrainFlix-Mercury;
  }
}
