@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.description {
  &__title {
    font-size: 2rem !important;
    line-height: 2rem;
    font-weight: 700;
  }
  &__hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $BrainFlix-Mercury;
    border-top: 1px solid $BrainFlix-Mercury;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__datechannel {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
  }
  &__channel {
    margin-top: 1.5rem;
    font-weight: 400;
  }
  &__date {
    margin: 1.5rem 0;
    color: $BrainFlix-Silver;
  }

  &__viewslikes {
    width: 35%;
    display: flex;
    flex-direction: column;
    color: $BrainFlix-Silver;
  }
  &__views {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-weight: 400;
    & > * {
      margin-right: 0.5rem;
    }
  }
  &__likes {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    & > * {
      margin-right: 0.5rem;
    }
    &-button {
      border: none;
      background-color: white ;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__description {
    margin-bottom: 1.5rem;
  }
}

/* --- Tablet View --- */

@include tablet {
  .description {
    &__hero {
      justify-content: space-between;
      padding-bottom: 1rem;
      border-top: none;
    }
    &__datechannel {
      width: 55%;
      flex-direction: row;
      align-items: center;
    }
    &__viewslikes {
      width: 45%;

      flex-direction: row;
      align-items: center;
      justify-content: right;
    }

    &__date,
    &__channel {
      margin: 0;
      margin-right: 2rem;
      padding: 0;
    }
    &__views,
    &__likes {
      margin: 0;
      margin-left: 2rem;
      padding: 0;
    }
  }
}


@include desktop {
  .description {
    &__hero {
      margin-right: 0;
      padding-right: 1.5rem;
    }
    &__description {
      padding-right: 1.5rem;
    }
  }
}